.title{background-color: red;color: blue;font-size: 200%;}

   .first{background-color: blue;color: black;font size: 150%;} 
.second{background-color: green;font-size: 182%;}
.Third{background-color: pink;font-size: 300%;}